body{
    background-color: #056190;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
    padding: 20px;
}
h2 {
    color: #ffeeee;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #ffeeee;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}
.center {
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    width: 50rem;
    height: 40rem;
    image-rendering: auto;
    box-shadow: 5px 10px #3b57bd;
    position: relative;
    z-index: 10;
}
