body{
    background-color: #056190;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
    padding: 20px;
}
h2 {
    color: #ffeeee;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

p, ul {
    color: #ffeeee;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}
ul {
    list-style-position: inside;
}


img{
  display: block;
    margin: 20px auto;
    border-radius: 25%;
    width: 50%;
    max-width: 400px;
    height: auto;
    box-shadow: 5px 10px #3b57bd;
}
