body{
    background-color: #056190;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
    padding: 20px;
}
h1 {
    color: #0077b6;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}
